# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo
LogFiles/
deployments/
api-logs/
*.zip

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# os/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
